@model Flute.Client.ViewModels.TrainedModelsViewModel

<head>
	<style>
		
	</style>
</head>

<body>
	<section style="margin-top:2%;">
		<div class="text-center">
			<h1>
				Trained Models
			</h1>

			<br />

			<p>
				Below, you can see a list of trained Models, as well as an example on how to consume the model.
			</p>
			<br />

			<p>API KEY - @Model.UserRecord.ApiKey</p>
			<p><strong>Please store this in a safe location.</strong></p>

			<br />
			<div class="col-md-4" style="margin-left:auto;margin-right:auto">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Model ID</th>
							<th scope="col">Model friendly name</th>
							<th scope="col">Model Uploaded Time - (UTC)</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.ListOfTrainedModels)
						{
							<tr>
								<td>@item.ModelId</td>
								<td>@item.ModelFriendlyName</td>
								<td>@item.ModelUploadDateTime</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

			<br />

			@if (!string.IsNullOrEmpty(TempData["Error"]?.ToString()))
			{
				<div style="margin-top:1%;margin-bottom:1%;" class="col-md-12">
					<div class="alert alert-danger">
						@TempData["Error"]?.ToString()
					</div>
				</div>
			}

			@if (!string.IsNullOrEmpty(TempData["Info"]?.ToString()))
			{
				<div style="margin-top:1%;margin-bottom:1%;" class="col-md-12">
					<div class="alert alert-info">
						@TempData["Info"]?.ToString()
					</div>
				</div>
			}
		</div>
	</section>

	<!--Code example section-->
	<section>
		<div class="text-center">

			<h4 style="margin-bottom:1%;">Curl example</h4>

			<pre class="embedcurl">curl -X POST \
				  https://@Model.CurrentHostName/api/Trainer/Predict \
				  -H 'Content-Type: application/json' \
				  -H 'api-key: @Model.UserRecord.ApiKey' \
				  -H 'cache-control: no-cache' \
				  -d '{
					"ModelId": "@Model.ListOfTrainedModels.FirstOrDefault().ModelId",
					"PredictionInput": {
						"Input": "'your input goes here'"
					}
				}'</pre>
		</div>
	</section>

	<script src="https://www.embedcurl.com/embedcurl.min.js" async></script>
</body>